@media only screen and (max-width : 1300px) {

}

@media only screen and (max-width : 1200px) {
	h1, .h1 {
		font-size: 50px;
	}

	.logo-image {
		width: 83px;
		height: 53px;
	}

	.logo-name {
		font-size: 14px;
	}

	.location {
		.address {
			font-size: 16px;
			line-height: 1.2;
		}
	}

	.phones {
		.tel {
			span {
				font-size: 16px;
			}
			a {
				font-size: 26px;
			}
		}
	}

	.form .buttons button {
	    font-size: 18px;
	}

	.com.com-ru img {
	    max-width: 650px;
	}
}


@media only screen and (max-width : 1024px) {

}

@media only screen and (max-width : 768px) {
      
}

@media only screen and (max-width : 580px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}