@mixin font-face($font-family, $file-path, $weight, $woff2: false, $style: normal) {
	@font-face {
		font-display: swap;
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		@if $woff2 {src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff');}
		@else {src: url('#{$file-path}.woff') format('woff');}
    }
}